instance/
.webassets-cache
.env
*.db
*.sqlite
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.swp
node_modules/
frontend/dist/
frontend/.astro/
*.egg-info/
backend/.venv/
